APP_NAME=CiscoTech Payment Auditor
API_PORT=8000
WEB_PORT=3000
AUDIT_MAX_PAGES=8
AUDIT_TIMEOUT_MS=15000
ADMIN_EMAIL=elnerro2024@gmail.com
ADMIN_PASSWORD=CHANGE_ME
TOKEN_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
